.additional__wrapper {
  margin: 0 auto;
  padding: 25px 20px;
}

@media (min-width: $tablet-width) {
  .additional__wrapper {
    padding: 0 30px;
  }
}

.additional__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.additional__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px 25px 40px;
  padding-top: 12px;
  padding-bottom: 18px;
}

.additional__title {
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
  font-family: $added-regular-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .additional__title {
    font-size: 36px;
    line-height: 36px;
  }
}

.additional__product {
  margin: 0;
  padding: 0;
  font-family: $added-regular-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $color-grey-800;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .additional__product {
    font-size: 20px;
    line-height: 20px;
  }
}

.additional__text {
  grid-column: 1/2;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 12px;
  color: $color-grey-700;
}

@media (min-width: $tablet-width) {
  .additional__text {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
}

.additional__price {
  font-size: 14px;
  line-height: 14px;
  text-align: right;
}

@media (min-width: $tablet-width) {
  .additional__price {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 16px;
    line-height: 20px;
  }
}

.additional__button {
  grid-column: 1/-1;
  text-align: center;
}
