@media (min-width: $desktop-width) {
  .additional__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: start;
    column-gap: 80px;
    margin-bottom: 86px;
  }
}

.additional__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: $desktop-width) {
  .additional__list {
    grid-column: 1/4;
  }
}

.additional__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px 25px 40px;
  padding-top: 12px;
  padding-bottom: 18px;
}

@media (min-width: $tablet-width) {
  .additional__card {
    padding: 26px 38px;
  }
}

@media (min-width: $desktop-width) {
  .additional__card {
    grid-template-columns: 1fr 1fr max-content 244px;
    grid-template-rows: 72px;
    column-gap: 30px;
    padding: 0;
    align-items: center;
    justify-self: start;
    border-top: 1px solid $color-grey-500;

    &:last-child {
      border-bottom: 1px solid $color-grey-500;
    }
  }
}

.additional__title {
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
  font-family: $added-regular-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .additional__title {
    margin-bottom: 80px;
    padding-left: 27px;
    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: $desktop-width) {
  .additional__title {
    grid-column: 1/3;
    margin: 0;
    margin-bottom: 80px;
    padding: 0;
  }
}

.additional__product {
  margin: 0;
  padding: 0;
  font-family: $added-regular-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $color-grey-800;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .additional__product {
    font-size: 20px;
    line-height: 20px;
  }
}

.additional__text {
  grid-column: 1/2;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 12px;
  color: $color-grey-700;
}

@media (min-width: $tablet-width) {
  .additional__text {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .additional__text {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: start;
  }
}

.additional__price {
  font-size: 14px;
  line-height: 14px;
  text-align: right;
}

@media (min-width: $tablet-width) {
  .additional__price {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .additional__price {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}

.additional__button {
  grid-column: 1/-1;
  text-align: center;
}

@media (min-width: $desktop-width) {
  .additional__button {
    grid-column: 4/5;
    align-self: center;
  }
}
