.additional {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 40px;
    left: 0;
    right: 0;
    background-color: $color-green;
    height: 2px;
  }

  @media (min-width: $tablet-width) {
    &::before {
      top: 48px;
    }
  }
}

.additional__wrapper {
  padding-top: 25px;
  padding-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .additional__wrapper {
    padding-bottom: 70px;
  }
}

@media (min-width: $desktop-width) {
  .additional__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: start;
    column-gap: 80px;
    padding-bottom: 16px;
  }
}

.additional__list {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  list-style-type: none;
}

@media (min-width: $tablet-width) {
  .additional__list {
    margin-bottom: 70px;
  }
}

@media (min-width: $desktop-width) {
  .additional__list {
    grid-column: 1/4;
  }
}

.additional__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  padding-top: 13px;
  padding-bottom: 21px;
  border-top: 1px solid $color-grey-500;
}

.additional__card:last-child {
  border-bottom: 1px solid $color-grey-500;
}

@media (min-width: $tablet-width) {
  .additional__card {
    padding: 19px 38px 24px;
    border: 1px solid $color-grey-500;
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .additional__card {
    grid-template-columns: 1fr 1fr max-content 244px;
    column-gap: 30px;
    padding: 0;
    align-items: center;
    justify-self: start;
    border-top: 1px solid $color-grey-500;
    border-left: none;
    border-right: none;

    &:last-child {
      border-bottom: 1px solid $color-grey-500;
    }
  }
}

.additional__title {
  position: relative;
  margin: 0;
  margin-left: -20px;
  padding: 0 20px;
  margin-bottom: 36px;
  width: min-content;
  font-family: $added-regular-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  background-color: $color-white;
  justify-self: start;
}

@media (min-width: $tablet-width) {
  .additional__title {
    margin: 0;
    margin-bottom: 78px;
    padding: 0 37px;
    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: $desktop-width) {
  .additional__title {
    grid-column: 1/3;
    margin: 0;
    margin-left: -40px;
    margin-bottom: 80px;
    padding: 0 35px 0 40px;

    &::before {
      left: -80px;
      width: 40px;
    }

    &::after {
      left: 370px;
      right: -765px;
    }
  }
}

.additional__product {
  margin: 0;
  margin-top: -2px;
  padding: 0;
  font-family: $added-regular-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $color-grey-800;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .additional__product {
    align-self: end;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .additional__product {
    align-self: center;
  }
}

.additional__text {
  grid-column: 1/2;
  margin: 0;
  margin-top: -2px;
  padding: 0;
  font-size: 14px;
  line-height: 14px;
  color: $color-grey-700;
}

@media (min-width: $tablet-width) {
  .additional__text {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: end;
    margin-top: -17px;
    margin-right: 93px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .additional__text {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 5px;
    margin-left: 40px;
    margin-right: 0;
    justify-self: start;
    text-align: start;
  }
}

.additional__price {
  margin-top: -2px;
  font-size: 14px;
  line-height: 14px;
  text-align: right;
}

@media (min-width: $tablet-width) {
  .additional__price {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: -16px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .additional__price {
    grid-column: 3/4;
    grid-row: 1/2;
    margin-top: 5px;
    margin-right: 8px;
  }
}

.additional__button {
  grid-column: 1/-1;
  text-align: center;
}

@media (min-width: $desktop-width) {
  .additional__button {
    grid-column: 4/5;
    align-self: center;
  }
}
