.advantages__heading {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-family: $added-regular-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .advantages__heading {
    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 37px;
    counter-reset: section;
    z-index: 2;
  }
}

@media (min-width: $desktop-width) {
  .advantages__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 46px;
  }
}

.advantages__item {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 70px;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 18px;
  color: $color-grey-700;

  &--leaf::before {
    background-image: url("../img/icons/icon-leaf.svg");
  }

  &--tub::before {
    background-image: url("../img/icons/icon_tub.svg");
  }

  &--eat::before {
    background-image: url("../img/icons/icon_eat.svg");
  }

  &--alarm::before {
    background-image: url("../img/icons/icon_alarm.svg");
  }
}

.advantages__item::before {
  position: absolute;
  content: "";
  left: -5px;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: $color-gree;
}

@media (min-width: $tablet-width) {
  .advantages__item {
    position: relative;
    margin: 0;
    padding-top: 100px;
    padding-right: 55px;
    padding-left: 0;
    padding-bottom: 57px;
    margin-bottom: 37px;
    font-size: 16px;
    line-height: 24px;

    &::after {
      position: absolute;
      top: -40px;
      right: 70px;
      counter-increment: section;
      content: "" counter(section);
      font-family: $added-regular-font;
      font-size: 280px;
      line-height: 280px;
      color: $color-grey-100;
    }

    &--leaf::before {
      @include advantages-before();
    }

    &--tub::before {
      @include advantages-before();
    }

    &--eat::before {
      @include advantages-before();
    }

    &--alarm::before {
      @include advantages-before();
    }
  }
}
