.advantages__wrapper {
  margin: 0 auto;
}

.advantages__heading {
  margin-bottom: 40px;
  font-family: $added-regular-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.advantages__item {
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 18px;
  color: $color-grey-700;
}
