.advantages__heading {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-family: $added-regular-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .advantages__heading {
    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 37px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 76px;
  }
}

.advantages__item {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 70px;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 18px;
  color: $color-grey-700;

  &--leaf::before {
    position: absolute;
    left: -5px;
    content: "";
    width: 60px;
    height: 60px;
    background-image: url("../img/icons/icon-leaf.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: $color-green;
  }

  &--tub::before {
    position: absolute;
    left: -5px;
    content: "";
    width: 60px;
    height: 60px;
    background-image: url("../img/icons/icon_tub.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: $color-green;
  }

  &--eat::before {
    position: absolute;
    left: -5px;
    content: "";
    width: 60px;
    height: 60px;
    background-image: url("../img/icons/icon_eat.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: $color-green;
  }

  &--alarm::before {
    position: absolute;
    left: -5px;
    content: "";
    width: 60px;
    height: 60px;
    background-image: url("../img/icons/icon_alarm.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: $color-green;
  }
}

@media (min-width: $tablet-width) {
  .advantages__item {
    margin: 0;
    padding-top: 100px;
    padding-right: 60px;
    padding-left: 0;
    padding-bottom: 57px;
    font-size: 16px;
    line-height: 24px;

    &--leaf::before {
      top: 0;
      left: 0;
      width: 80px;
      height: 80px;
    }

    &--tub::before {
      top: 0;
      left: 0;
      width: 80px;
      height: 80px;
    }

    &--eat::before {
      top: 0;
      left: 0;
      width: 80px;
      height: 80px;
    }

    &--alarm::before {
      top: 0;
      left: 0;
      width: 80px;
      height: 80px;
    }
  }
}
