.advantages__wrapper {
  padding-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .advantages__wrapper {
    padding-bottom: 8px;
    border-bottom: 1px solid $color-grey-350;
  }
}

@media (min-width: $desktop-width) {
  .advantages__wrapper {
    padding: 0 60px;
    border-bottom: none;
  }
}

.advantages__heading {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-family: $added-regular-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .advantages__heading {
    margin-bottom: 72px;
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__heading {
    margin-bottom: 82px;
    padding-left: 50px;
  }
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 39px;
    counter-reset: section;
  }
}

@media (min-width: $desktop-width) {
  .advantages__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 76px;
    padding: 0 50px;
  }
}

.advantages__item {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 80px;
  margin-bottom: 26px;
  font-size: 14px;
  line-height: 18px;
  color: $color-grey-700;

  &::before {
    position: absolute;
    content: "";
    top: -1px;
    left: 0;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: $color-green;
  }

  &--leaf::before {
    background-image: url("../img/icons/icon-leaf.svg");
  }

  &--tub::before {
    background-image: url("../img/icons/icon_tub.svg");
  }

  &--eat::before {
    background-image: url("../img/icons/icon_eat.svg");
  }

  &--alarm::before {
    background-image: url("../img/icons/icon_alarm.svg");
  }
}

@media (min-width: $tablet-width) {
  .advantages__item {
    padding-top: 112px;
    padding-right: 72px;
    padding-left: 0;
    padding-bottom: 57px;
    margin-bottom: 37px;
    font-size: 16px;
    line-height: 24px;
    z-index: 0;

    &::after {
      position: absolute;
      top: -40px;
      right: 79px;
      counter-increment: section;
      content: "" counter(section);
      font-family: $added-regular-font;
      font-size: 280px;
      line-height: 280px;
      color: $color-grey-100;
      z-index: -1;
    }

    &--leaf::before {
      @include advantages-before();
    }

    &--tub::before {
      @include advantages-before();
    }

    &--eat::before {
      @include advantages-before();
    }

    &--alarm::before {
      @include advantages-before();
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__item {
    padding-top: 100px;
    padding-right: 2px;

    &::before {
      top: -11px;
      left: 0;
    }

    &::after {
      top: -50px;
      right: 18px;
    }
  }
}
