.button {
  display: block;
  padding: 10px 44px;
  font-size: 16px;
  line-height: 20px;
  color: $white-base;
  background-color: $green-base;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}
