.catalog-page__list {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .catalog-page__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 141px;
    margin-bottom: 43px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-page__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    margin-bottom: 76px;
  }
}

.catalog-page__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 41px 44px 40px;
  row-gap: 20px;
  margin: 0 -20px;
  padding: 21px 20px 22px 20px;
  border-top: 1px solid $color-grey-300;
}

@media (min-width: $tablet-width) {
  .catalog-page__card {
    grid-template-columns: 1fr;
    grid-template-rows: 92px 50px 110px 40px;
    row-gap: 26px;
    margin: 0;
    padding: 20px 39px 40px;
    background-color: $color-grey-100;
    border: none;
  }
}

.catalog-page__image-link {
  display: block;
  object-fit: cover;
}

@media (min-width: $tablet-width) {
  .catalog-page__image-link {
    margin: 0 auto;
  }
}

.catalog-page__image {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .catalog-page__image {
    margin-top: -93px;
    width: 168px;
    height: 200px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-page__image {
    width: 172px;
    height: 196px;
  }
}

.catalog-page__card-title {
  margin: 0;
  padding: 0;
  padding-right: 50px;
  font-family: $added-regular-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .catalog-page__card-title {
    grid-row: 3/4;
    margin-top: 22px;
    padding: 0 45px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .catalog-page__card-title {
    padding: 0 25px;
    line-height: 21px;
  }
}

.catalog-page__title-link {
  color: $color-grey-800;
  text-decoration: none;
}

.catalog-page__specifications {
  margin: 0;
  padding: 0;
}

.catalog-page__button {
  grid-column: 1/-1;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .catalog-page__button {
    grid-row: 4/5;
  }
}

.catalog-page__show-more {
  margin: 0 -20px;
  padding-top: 78px;
  padding-bottom: 25px;
  list-style-type: none;
  border-top: 1px solid $color-grey-300;
  border-bottom: 1px solid $color-grey-300;
}

@media (min-width: $tablet-width) {
  .catalog-page__show-more {
    display: grid;
    grid-template-rows: 1fr 1fr 40px;
    row-gap: 20px;
    margin: 0;
    padding-top: 103px;
    padding-right: 36px;
    padding-left: 36px;
    padding-bottom: 37px;
    border: 2px solid $color-grey-100;
  }
}
