@media (min-width: $tablet-width) {
  .catalog-index__wrapper {
    padding-top: 122px;
  }
}


@media (min-width: $desktop-width) {
  .catalog-index__wrapper {
    padding-bottom: 51px;
  }
}

.catalog-index__list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}
