.catalog-page__list {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .catalog-page__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 141px;
    margin-bottom: 43px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-page__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 74px;
    row-gap: 145px;
    margin-bottom: 50px;
  }
}

.catalog-page__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, min-content);
  row-gap: 7px;
  margin: 0 -20px;
  margin-bottom: -2px;
  padding: 25px 20px 22px 20px;
  border-top: 1px solid $color-grey-300;
}

@media (min-width: $tablet-width) {
  .catalog-page__card {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    row-gap: 29px;
    margin: 0;
    padding: 25px 37px 39px 39px;
    background-color: $color-grey-100;
    border: none;
  }
}

.catalog-page__image-link {
  display: block;
  object-fit: cover;
  grid-row: span 2;
}

@media (min-width: $tablet-width) {
  .catalog-page__image-link {
    margin: 0 auto;
    grid-row: 1/2;
  }
}

.catalog-page__image {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .catalog-page__image {
    margin-top: -86px;
    width: 168px;
    height: 200px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-page__image {
    margin-top: -96px;
    width: 172px;
    height: 196px;
  }
}

.catalog-page__card-title {
  margin: 0;
  margin-top: -3px;
  padding: 0;
  padding-right: 50px;
  font-family: $added-regular-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .catalog-page__card-title {
    grid-row: 3/4;
    margin-top: -10px;
    padding: 0 45px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .catalog-page__card-title {
    margin-top: 26px;
    padding: 0 15px;
    line-height: 21px;
  }
}

.catalog-page__title-link {
  color: $color-grey-800;
  text-decoration: none;
}

.catalog-page__specifications {
  margin: 0;
  margin-top: -8px;
  padding: 0;
}

.catalog-page__button {
  grid-column: 1/-1;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .catalog-page__button {
    grid-row: 4/5;
  }
}

.catalog-page__show-more {
  margin: 0 -20px;
  margin-top: -3px;
  padding-top: 81px;
  padding-bottom: 25px;
  list-style-type: none;
  border-top: 1px solid $color-grey-300;
  border-bottom: 1px solid $color-grey-300;
}

@media (min-width: $tablet-width) {
  .catalog-page__show-more {
    display: grid;
    grid-template-rows: min-content;
    row-gap: 20px;
    margin: 0;
    padding-top: 103px;
    padding-right: 36px;
    padding-left: 36px;
    padding-bottom: 37px;
    border: 2px solid $color-grey-100;
  }
}

@media (min-width: $desktop-width) {
  .catalog-page__show-more {
    padding-top: 95px;
  }
}
