.catalog-page__list {
  margin: 0;
  padding: 0;
}

.catalog-page__card {
  margin-bottom: 19px;
  padding: 11px 0;
}

.catalog-page__image-link {
  display: block;
  object-fit: cover;
}

.catalog-page__card-title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog-page__title-link {
  text-decoration: none;
  color: $special-dark-grey-text;
}

.catalog-page__specifications {
  margin: 0;
  padding: 0;
}
