.catalog-page__list {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .catalog-page__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-page__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
  }
}

.catalog-page__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 41px 44px 40px;
  row-gap: 20px;
  margin-bottom: 19px;
  padding: 11px 0;
}

@media (min-width: $tablet-width) {
  .catalog-page__card {
    display: flex;
    flex-direction: column;
    padding: 0 36px;
  }
}

.catalog-page__image-link {
  display: block;
  object-fit: cover;
}

@media (min-width: $tablet-width) {
  .catalog-page__image-link {
    margin: 0 auto;
  }
}

.catalog-page__card-title {
  margin: 0;
  padding: 0;
  font-family: $added-regular-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .catalog-page__card-title {
    padding: 0 55px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .catalog-page__card-title {
    padding: 0 25px;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
  }
}

.catalog-page__title-link {
  color: $color-grey-800;
  text-decoration: none;
}

.catalog-page__specifications {
  margin: 0;
  padding: 0;
}

.catalog-page__button {
  grid-column: 1/-1;
  text-align: center;
}
