@media (min-width: $desktop-width) {
  .catalog-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.catalog-list__item {
  position: relative;
  margin-bottom: 20px;
  padding: 24px 20px 20px 20px;
  background-color: $color-grey-100;
  text-align: start;

  &::before {
    position: absolute;
    content: "";
    left: 23px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: $color-green;
    border-radius: 50%;
  }

  &::after {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
  }

  &--cat::after {
    top: 21px;
    left: 29px;
    width: 36px;
    height: 50px;
    background-image: url("../img/icon_blackcatt.svg");
  }

  &--pantera::after {
    top: 35px;
    left: 13px;
    width: 67px;
    height: 28px;
    background-image: url("../img/icon_pantera.svg");
  }
}

@media (min-width: $tablet-width) {
  .catalog-list__item {
    display: grid;
    grid-template-columns: 1fr 200px;
    column-gap: 43px;
    margin-bottom: 30px;
    padding: 77px 67px 57px 48px;

    &::before {
      top: 92px;
      right: 62px;
      left: auto;
      width: 200px;
      height: 200px;
    }

    &--cat::after {
      top: 81px;
      right: 92px;
      left: auto;
      width: 140px;
      height: 194px;
    }

    &--pantera::after {
      top: 135px;
      right: 28px;
      left: auto;
      width: 268px;
      height: 112px;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog-list__item {
    display: block;
    padding: 77px 52px 59px 52px;

    &::before {
      top: 47px;
      left: 52px;
      width: 100px;
      height: 100px;
    }

    &--cat::after {
      top: 41px;
      left: 67px;
      width: 70px;
      height: 97px;
    }

    &--pantera::after {
      top: 67px;
      left: 33px;
      width: 134px;
      height: 56px;
    }
  }
}

.catalog-list__title {
  margin: 0;
  padding: 0;
  padding-top: 6px;
  padding-left: 71px;
  padding-right: 20px;
  margin-bottom: 29px;
  font-family: $added-regular-font;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .catalog-list__title {
    margin-top: -6px;
    margin-bottom: 25px;
    padding-left: 5px;
    font-size: 36px;
    line-height: 36px;
    text-align: start;
  }
}

@media (min-width: $desktop-width) {
  .catalog-list__title {
    margin-bottom: 72px;
    padding-left: 138px;
    padding-right: 75px;
    text-align: center;
  }
}

.catalog-list__text {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 42px;
  font-size: 14px;
  line-height: 18px;
  color: $color-grey-700;
  text-align: start;
}

@media (max-width: $mobile-width-only) {
  .catalog-list__text::after {
    position: absolute;
    content: "";
    background: $color-grey-600;
    width: 100%;
    height: 1px;
    bottom: -23px;
    left: 0;
  }
}

@media (min-width: $tablet-width) {
  .catalog-list__text {
    grid-column: 1/2;
    margin-bottom: 51px;
    padding-left: 4px;
    padding-right: 3px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-list__text {
    margin-bottom: 28px;
    padding: 0;
  }
}

.catalog-list__link {
  position: relative;
  margin-right: 0;
  padding-right: 40px;
  font-family: $added-regular-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $color-black;
  text-decoration: none;
  text-transform: uppercase;

  &::after {
    position: absolute;
    content: "";
    top: calc(50% - 5px);
    right: -7px;
    width: 32px;
    height: 10px;
    background-image: url("../img/icon-right.svg");
    background-repeat: no-repeat;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .catalog-list__link {
    grid-column: 1/2;
    justify-self: start;
    padding-left: 3px;
    font-size: 20px;
    line-height: 30px;

    &::after {
      top: calc(50% - 6px);
      right: -18px;
    }
  }
}
