.checkbox {
  display: block;
}

.checkbox__text {
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  gap: 15px;
  margin-bottom: 13px;

  &::before {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 30px;
    height: 30px;
    border: 1px solid $color-grey-500;
    content: "";
  }

  [type="checkbox"]:checked + &::after {
    grid-column: 1/2;
    grid-row: 1/2;
    content: url("..img/icons/checkboxbutton.svg");
    margin-left: 6px;
    width: 18px;
    height: 14px;
  }
}

