.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 26px 20px;
  background-color: $color-white;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    row-gap: 58px;
    padding: 63px 71px 60px 71px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    column-gap: 93px;
    position: absolute;
    left: 110px;
    z-index: 1;
    margin: 0;
    margin-top: 95px;
    max-width: 565px;
    padding: 60px 80px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding: 0;
  }
}

.contacts__heading {
  margin: 0;
  padding: 0;
  font-family: $added-regular-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-grey-900;
}

@media (min-width: $tablet-width) {
  .contacts__heading {
    padding-right: 150px;
    font-size: 20px;
    line-height: 26px;
    text-align: start;
  }
}

@media (min-width: $desktop-width) {
  .contacts__heading {
    padding: 0;
    line-height: 26px;
  }
}

.contacts__text {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: $color-grey-700;
}

@media (min-width: $tablet-width) {
  .contacts__text {
    margin-top: -4px;
    padding-left: 140px;
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }
}

@media (min-width: $desktop-width) {
  .contacts__text {
    padding: 0;
    text-align: start;
  }
}

@media (min-width: $tablet-width) {
  .contacts__text span {
    display: block;
    margin-top: 20px;
  }
}

.contacts iframe {
  position: relative;
  display: block;
  margin-right: -20px;
  width: 100%;
  height: 362px;
  border: none;
  background: $color-grey-100;
}

@media (min-width: $tablet-width) {
  .contacts iframe {
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .contacts iframe {
    position: relative;
  }
}
