.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 26px;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    row-gap: 58px;
    padding: 0 72px;
  }
}

.contacts {
  padding-top: 27px;
}

.contacts__heading {
  margin: 0;
  padding: 0;
  font-family: $added-regular-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-grey-900;
}

@media (min-width: $tablet-width) {
  .contacts__heading {
    padding-right: 160px;
    font-size: 20px;
    line-height: 21px;
    text-align: start;
  }
}

.contacts__text {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: $color-grey-700;
}

@media (min-width: $tablet-width) {
  .contacts__text {
    padding-left: 160px;
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }
}

.contacts iframe {
  display: block;
  margin-right: -20px;
  width: 100%;
  border: none;
  background: $color-grey-100;
}
