.form-group {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
  border: none;
}

@media (min-width: $desktop-width) {
  .form-group--contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 78px;
    width: 100%;
  }
}

.form-group__legend {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  font-family: $added-regular-font;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: $tablet-width) {
  .form-group__legend {
    font-size: 36px;
    line-height: 36px;
  }
}

.form-group__label {
  margin-right: 13px;
  font-size: 24px;
  line-height: 26px;
  align-self: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .form-group__label {
    font-size: 20px;
    line-height: 30px;

    &--textarea {
      font-size: 36px;
      line-height: 36px;
      text-transform: none;
    }
  }
}

.form-group__field-group {
  display: flex;
}

.form-group__input {
  width: 100%;
  padding: 10px;
}

.form-group--textarea {
  display: grid;
  row-gap: 37px;
}

@media (min-width: $tablet-width) {
  .form-group--textarea {
    row-gap: 76px;
    font-size: 36px;
    line-height: 36px;
  }
}
