.form-program {
  padding: 0;
  border: none;
}

.form-program__radio-list {
  margin: 0 -20px;
  padding: 0;
  padding-top: 22px;
  padding-bottom: 5px;
  margin-bottom: 26px;
  border-top: 1px solid $color-grey-600;
  border-bottom: 1px solid $color-grey-600;
}

@media (min-width: $tablet-width) {
  .form-program__radio-list {
    margin: 0 40px;
    padding: 25px 28px 10px;
    border: 1px solid $color-grey-400;
  }
}

@media (min-width: $desktop-width) {
  .form-program__radio-list {
    margin-top: -50px;
    padding: 22px 28px 8px 28px;
  }
}

.form-program__item {
  list-style-type: none;
}
