.form-group {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  border: none;
}

@media (min-width: $tablet-width) {
  .form-group {
    padding-bottom: 55px;
  }
}

.form-group--contacts::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  margin-top: -56px;
  background-color: $color-green;
  height: 2px;
}

@media (min-width: $tablet-width) {
  .form-group--contacts::before {
    margin-top: -75px;
  }
}

@media (min-width: $desktop-width) {
  .form-group--contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 78px;
  }
}

.form-group__legend {
  position: relative;
  margin: 10px 70px 20px -20px;
  padding: 0 20px;
  font-family: $added-regular-font;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: $color-black;
  background-color: $color-white;
  text-transform: none;
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .form-group__legend {
    margin: 0;
    margin-bottom: 60px;
    padding-top: 70px;
    padding-left: 37px;
    padding-right: 40px;
    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: $desktop-width) {
  .form-group__legend {
    padding-top: 10px;
  }
}

.form-group__label {
  margin-right: 10px;
  font-size: 16px;
  line-height: 18px;
  align-self: center;
  text-transform: uppercase;

  &--textarea {
    font-size: 24px;
    margin-left: -20px;
    padding: 0 20px;
    width: max-content;
    background-color: $color-white;
    text-transform: none;
  }
}

@media (min-width: $tablet-width) {
  .form-group__label {
    font-size: 20px;
    line-height: 30px;

    &--textarea {
      padding: 0 40px;
      margin: 0;
      font-size: 36px;
      line-height: 36px;
      text-transform: none;
    }
  }
}

.form-group__field {
  display: flex;

  @media (min-width: $desktop-width) {
    &--email {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    &--tel {
      grid-column: 2/3;
      grid-row: 2/3;
    }
  }
}

.form-group__input {
  flex-grow: 1;
  padding: 14px 12px;
  font-family: $added-regular-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $color-grey-700;
  border: 1px solid $color-grey-500;
  text-transform: uppercase;

  &[type="email"] {
    background-image: url("../img/icons/icon_email.svg");
    background-repeat: no-repeat;
    background-position: right 20px top 50%;
  }

  &[type="tel"] {
    background-image: url("../img/icons/icon_phone.svg");
    background-repeat: no-repeat;
    background-position: right 18px top 50%;
  }
}

@media (min-width: $tablet-width) {
  .form-group__input[type="email"] {
    background-position: right 20px top 50%;
  }
}

@media (min-width: $tablet-width) {
  .form-group__input[type="tel"] {
    background-position: right 18px top 50%;
  }
}

@media (min-width: $tablet-width) {
  .form-group__input {
    padding: 10px 18px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form-group--textarea {
  display: grid;
  row-gap: 37px;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    margin-top: 10px;
    background-color: $color-green;
    height: 2px;
    z-index: -1;
  }
}

@media (min-width: $tablet-width) {
  .form-group--textarea {
    row-gap: 76px;
    padding-bottom: 10px;
    font-size: 36px;
    line-height: 36px;

    &::before {
      margin-top: 20px;
    }
  }
}

.form-group__input--textarea {
  resize: none;
  min-height: 155px;
  max-height: 174px;
}
