.form-group {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  border: none;
}

@media (min-width: $tablet-width) {
  .form-group {
    padding-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .form-group--contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 78px;
    width: 100%;
  }
}

.form-group__legend { /*проблемы с линией :)*/
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-family: $added-regular-font;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  text-transform: none;
  color: $color-black;
  background-color: $color-white;
}

@media (min-width: $tablet-width) {
  .form-group__legend {
    margin-bottom: 60px;
    padding-top: 70px;
    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: $desktop-width) {
  .form-group__legend {
    padding-top: 10px;
  }
}

.form-group__label {
  position: relative;
  margin-right: 10px;
  font-size: 16px;
  line-height: 18px;
  align-self: center;
  text-transform: uppercase;

  &--textarea {
    font-size: 24px;
    text-transform: none;

    &::after {
      content: "";
      position: absolute;
      height: 2px;
      background-color: $color-green;
      right: -30px;
      top: 11px;
      width: calc(100% - 120px);
    }
  }
}

@media (min-width: $tablet-width) {
  .form-group__label {
    font-size: 20px;
    line-height: 30px;

    &--textarea {
      font-size: 36px;
      line-height: 36px;
      text-transform: none;

      &::before {
        position: absolute;
        content: "";
        background-color: $color-green;
        top: 22px;
        left: -60px;
        height: 2px;
        width: 30px;

        @media (min-width: $tablet-width) {
          left: -80px;
          width: 50px;
        }
      }

      &::after {
        top: 22px;
        right: -70px;
        width: calc(100% - 150px);
      }
    }
  }
}

.form-group__field {
  display: flex;
}

.form-group__input {
  flex-grow: 1;
  padding: 14px 12px;
  font-family: $added-regular-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $color-grey-700;
  border: 1px solid $color-grey-500;
  text-transform: uppercase;

  &[type="email"] {
    background-image: url("../img/icons/icon_email.svg");
    background-repeat: no-repeat;
    background-position: right 20px top 50%;
  }

  &[type="tel"] {
    background-image: url("../img/icons/icon_phone.svg");
    background-repeat: no-repeat;
    background-position: right 18px top 50%;
  }
}

@media (min-width: $tablet-width) {
  .form-group__input[type="email"] {
    background-position: right 20px top 50%;
  }
}

@media (min-width: $tablet-width) {
  .form-group__input[type="tel"] {
    background-position: right 18px top 50%;
  }
}

@media (min-width: $tablet-width) {
  .form-group__input {
    padding: 10px 18px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form-group--textarea {
  display: grid;
  row-gap: 37px;
}

@media (min-width: $tablet-width) {
  .form-group--textarea {
    row-gap: 76px;
    padding-bottom: 10px;
    font-size: 36px;
    line-height: 36px;
  }
}

.form-group__input--textarea {
  resize: none;
  min-height: 155px;
  max-height: 174px;
}
