.form-program {
  padding: 0;
  border: none;
}

.form-program__radio-list {
  margin: 0 -20px;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 5px;
  border-top: 1px solid $color-grey-600;
  border-bottom: 1px solid $color-grey-600;
}

@media (min-width: $tablet-width) {
  .form-program__radio-list {
    margin: 0;
    padding: 25px 28px;
    border: 1px solid $color-grey-400;
  }
}

.form-program__item {
  list-style-type: none;
}
