.form-page__form {
  font-family: $added-regular-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $color-grey-700;
  text-transform: uppercase;
}

.form-group__input::placeholder {
  font-family: $added-regular-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $color-grey-700;
  text-transform: uppercase;
}

.form-page__legend {
  margin: 0 auto;
  font-family: $main-regular-font;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: $color-black;
  text-transform: none;
}
