.form-options {
  padding: 0;
  border: none;
}

.form-options__legend {
  margin-bottom: 34px;
  font-family: $added-regular-font;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  text-transform: none;
}

.form-options__checkbox-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form-options__item {
  margin-bottom: 12px;
  color: $color-black;
}
