.form-program {
  padding: 0;
  border: none;
}

.form-program__radio-list {
  margin: 0;
  padding: 20px 0;
}

@media (min-width: $tablet-width) {
  .form-program__radio-list {
    padding: 100px 0;
  }
}

@media (min-width: $desktop-width) {
  .form-program__radio-list {
    padding: 0;
  }
}

.form-program__item {
  margin-bottom: 13px;
  list-style-type: none;
}
