.form-group {
  margin: 0;
  padding: 0;
  border: none;
  padding-bottom: 8px;
}

@media (min-width: $tablet-width) {
  .form-group {
    padding: 0 40px 55px;
  }
}

@media (min-width: $desktop-width) {
  .form-group {
    padding: 0 0 51px;
  }
}

.form-group--contacts {
  margin-bottom: 4px;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 627px;
    background-color: $color-green;
    height: 2px;
  }
}

@media (min-width: $tablet-width) {
  .form-group--contacts {
    padding-bottom: 45px;

    &::before {
      top: 942px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-group--contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 76px;

    &::before {
      top: 716px;
    }
  }
}

.form-group__legend {
  position: relative;
  margin: 10px 79px 20px -20px;
  padding: 0 20px;
  font-family: $added-regular-font;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: $color-black;
  background-color: $color-white;
  text-transform: none;
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .form-group__legend {
    margin-left: -40px;
    margin-bottom: 55px;
    padding-top: 74px;
    padding-left: 40px;
    padding-right: 35px;
    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: $desktop-width) {
  .form-group__legend {
    margin-bottom: 56px;
    padding-top: 0;
  }
}

.form-group__label {
  margin-right: 12px;
  font-size: 16px;
  line-height: 18px;
  align-self: center;
  text-transform: uppercase;

  &--textarea {
    margin-left: -20px;
    padding: 0 20px;
    width: max-content;
    font-size: 24px;
    background-color: $color-white;
    text-transform: none;
  }
}

@media (min-width: $tablet-width) {
  .form-group__label {
    margin-right: 18px;
    font-size: 20px;
    line-height: 30px;

    &--textarea {
      margin-left: -40px;
      padding: 0 40px;
      font-size: 36px;
      line-height: 36px;
      text-transform: none;
    }
  }
}

.form-group__field {
  position: relative;
  display: flex;

  @media (min-width: $desktop-width) {
    &--email {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    &--tel {
      grid-column: 2/3;
      grid-row: 2/3;
    }
  }
}

.form-group__input {
  flex-grow: 1;
  margin-bottom: -2px;
  padding: 14px 13px 12px;
  font-family: $added-regular-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $color-grey-700;
  border: 1px solid $color-grey-400;
  text-transform: uppercase;

  &:hover {
    outline: 1px solid $color-grey-500;
  }

  &:focus {
    outline: 2px solid $color-grey-700;
    outline-offset: -2px;
  }

  &:invalid:not(:placeholder-shown) {
    outline: 2px solid $color-error;
  }
}

.form-group__image {
  position: absolute;
  top: 14px;
  right: 14px;
}

@media (min-width: $tablet-width) {
  .form-group__image {
    top: 19px;
    right: 14px;
  }
}

@media (min-width: $desktop-width) {
  .form-group__image {
    top: 17px;
    right: 19px;
  }
}

.form-group__icon:hover {
  stroke: $color-green;
}

.form-group__icon:focus {
  stroke: $color-green;
}

.form-group__icon:invalid {
  stroke: $color-error;
}

@media (min-width: $tablet-width) {
  .form-group__input {
    margin-bottom: -1px;
    padding: 10px 19px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form-group--textarea {
  display: grid;
  row-gap: 37px;
  padding-bottom: 27px;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    margin-top: 10px;
    background-color: $color-green;
    height: 2px;
    z-index: -1;
  }
}

@media (min-width: $tablet-width) {
  .form-group--textarea {
    row-gap: 76px;
    padding-bottom: 65px;
    font-size: 36px;
    line-height: 36px;

    &::before {
      margin-top: 21px;
    }
  }
}

.form-group__input--textarea {
  resize: none;
  height: 150px;
  padding-top: 10px;
  margin-top: 2px;
}

@media (min-width: $tablet-width) {
  .form-group__input--textarea {
    padding-top: 7px;
    height: 174px;
  }
}
