.gift {
  background: url("../img/catalog/cat_catalog.jpg");
  background-repeat: no-repeat;
}

@media (min-width: $desktop-width) {
  .gift {
    padding: 0;
    width: 245px;
  }
}

.gift__text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  color: $color-white;
  text-align: center;
}
