.logo__icon {
  margin-top: -1px;
  width: 33px;
  height: 38px;

  @media (min-width: $tablet-width) {
    margin-right: 12px;
    width: 60px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 14px;
    width: 70px;
    height: 60px;
  }
}

.logo__image {
  margin-top: 3px;
  width: 101px;
  height: 19px;

  @media (min-width: $tablet-width) {
    margin-top: 5px;
    margin-right: 5px;
  }

  @media (min-width: $desktop-width) {
    width: 118px;
    height: 22px;
  }
}
