.main-page__wrapper {
  padding-top: 28px;
}

@media (min-width: $tablet-width) {
  .main-page__wrapper {
    padding-top: 37px;
  }
}

@media (min-width: $desktop-width) {
  .main-page__wrapper {
    padding-top: 20px;
  }
}

.main-page__heading {
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
  font-family: $added-regular-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .main-page__heading {
    margin-bottom: 163px;
    font-size: 60px;
    line-height: 60px;

    &--program {
      padding: 0 40px;
      margin-bottom: 55px;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-page__heading {
    margin-bottom: 163px;
    padding-left: 0;

    &--program {
      margin-bottom: 55px;
    }
  }
}

.main-page__text {
  margin: 0;
  padding: 0;
  margin-bottom: 21px;
  font-family: $added-regular-font;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .main-page__text {
    margin-bottom: 46px;
    padding: 0 40px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .main-page__text {
    padding-left: 0;
  }
}
