.main-nav {
  position: relative;
  font-family: $added-regular-font;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  min-height: 45px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    padding: 0;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-nav__toggle {
  position: absolute;
  top: -30px;
  right: -6px;
  z-index: 1;
  width: 35px;
  height: 25px;
  background-color: $color-white;
  cursor: pointer;
  border: none;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  width: 24px;
  height: 2px;
  background-color: $color-black;
  box-shadow: 0 7px 0 0 $color-black, 0 14px 0 0 $color-black;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 54px;
    right: -20px;
    z-index: 3;
    padding: 0;
    min-width: 320px;
    min-height: 200px;
    background-color: $color-white;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
  padding: 0;
}

.main-nav--nojs .site-list__item {
  display: block;
}

.main-nav--opened .main-nav__toggle {
  top: -30px;
  right: -5px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 1px;
    width: 30px;
    height: 2px;
    background-color: $color-black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}
