.main-page__wrapper {
  padding-top: 30px;
}

.main-page__heading {
  margin: 0;
  padding: 0;
  margin-bottom: 49px;
  font-family: $added-regular-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .main-page__heading {
    margin-bottom: 82px;
    font-size: 60px;
    line-height: 60px;
  }
}

.main-page__text {
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
  font-family: $added-regular-font;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .main-page__text {
    margin-bottom: 66px;
    padding-right: 330px;
    font-size: 20px;
    line-height: 30px;
  }
}
