.main-page__wrapper {
  margin: 0 auto;
}

.main-page__heading {
  margin-bottom: 49px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.main-page__text {
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

