.order-form__group {
  border: none;
}

@media (min-width: $desktop-width) {
  .order-form__field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    align-items: center;
  }
}
