.page-header {
  margin: 0 auto;
  padding: 12px 20px 11px 20px;
  width: 100%;
  border-bottom: 1px solid $color-grey-600;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    justify-content: space-between;
    padding: 26px 30px 22px 30px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding: 53px 50px;
    max-width: $desktop-width;
  }
}

.page-header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 190px;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    width: 174px;
  }
}
