.page-header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 20px 18px;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .page-header {
    padding: 24px 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding: 53px 50px;
    max-width: $desktop-width;
  }
}
