.page-footer {
  background-color: $color-grey-100;
}

.page-footer__wrapper {
  padding: 39px 20px 22px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 56px 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    padding: 58px 50px;
  }
}

.page-footer__logo {
  padding: 0;
}

.page-footer__logo-image {
  margin-bottom: 52px;
  width: 128px;
  height: 24px;
}

@media (min-width: $tablet-width) {
  .page-footer__logo-image {
    margin: 0;
    align-items: center;
  }
}
