.page-footer {
  background-color: $color-grey-100;
}

.page-footer__wrapper {
  margin: 0 auto;
  padding: 39px 20px 22px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 56px 30px;
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    padding: 58px 110px;
    width: 1220px;
  }
}

.page-footer__logo {
  padding: 0 75px;
}

.page-footer__logo-image {
  margin-bottom: 52px;
  width: 128px;
  height: 24px;
}

@media (min-width: $tablet-width) {
  .page-footer__logo-image {
    margin: 0;
    align-items: center;
  }
}
