.page-footer {
  background-color: $color-grey-100;
}

.page-footer__wrapper {
  padding: 39px 20px 22px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 32px;
    align-items: center;
    padding: 58px 30px 55px 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    padding: 58px 110px;
  }
}

.page-footer__logo {
  padding: 0;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__logo {
    margin-right: 100px;
    padding: 0;
  }
}

.page-footer__logo-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  width: 128px;
  height: 24px;
}

@media (min-width: $tablet-width) {
  .page-footer__logo-image {
    margin: 0;
  }
}
