.page-footer {
  padding: 39px 20px 22px;
  background-color: $color-grey-100;
}

.page-footer__wrapper {
  margin: 0 auto;
}

.social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.page-footer__logo-image {
  margin-bottom: 32px;
}

.social-list__item {
  margin-right: 30px;
}

.social-list__link {
  padding: 5px;
}
