.progress {
  background-color: $color-grey-100;
}

@media (min-width: $desktop-width) {
  .progress__container {
    display: grid;
    grid-template-columns: 1fr 720px;
    margin: 0 auto;
    background: linear-gradient(to top, $color-grey-100 78%, $color-white 22%);
  }
}

.progress__wrapper {
  margin: 0 auto;
  padding: 25px 20px;
}

@media (min-width: $tablet-width) {
  .progress__wrapper {
    background-color: $color-white;
  }
}

@media (min-width: $desktop-width) {
  .progress__wrapper {
    padding: 0 130px;
    background: linear-gradient(to top, $color-grey-100 78%, $color-white 22%);
  }
}

.progress__heading {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-family: $added-regular-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .progress__heading {
    margin-bottom: 63px;
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .progress__heading {
    margin-top: -15px;
    margin-bottom: 146px;
    padding-top: 30px;
  }
}

@media (min-width: $tablet-width) {
  .progress__list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .progress__list-container {
    flex-direction: column;
  }
}

.progress__list {
  display: grid;
  grid-template-columns: repeat(2, (1fr));
  column-gap: 32px;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .progress__list {
    column-gap: 42px;
    width: 370px;
  }
}

@media (min-width: $desktop-width) {
  .progress__list {
    margin-bottom: 55px;
    width: 462px;
  }
}

.progress__item {
  position: relative;
}

.progress__number {
  align-self: end;
  padding: 15px 20px;
  font-family: $added-regular-font;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid $color-grey-500;
  border-radius: 3px;
}

@media (min-width: $tablet-width) {
  .progress__number {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 11px;
  }
}

.progress__text {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  text-align: start;
  color: $color-grey-700;
}

.progress__undertext {
  position: absolute;
  top: 46px;
  left: 50%;
  margin: 0;
  padding: 0;
  margin-left: -40px;
  width: 80px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: $color-grey-100;

  @media (min-width: $tablet-width) {
    top: 60px;
    width: 150px;
    margin-left: -75px;
    font-size: 14px;
    line-height: 14px;
    background-color: $color-white;
  }

  @media (min-width: $desktop-width) {
    top: 60px;
    background-color: $color-grey-100;
  }
}

@media (min-width: $tablet-width) {
  .progress__text {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .progress__text {
    margin-bottom: 70px;
    margin-top: -25px;
  }
}

.progress__total {
  display: block;
  margin: 0;
  padding: 0 46px;
  font-family: $added-regular-font;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .progress__total {
    display: grid;
    grid-template-rows: 20px 20px;
    row-gap: 9px;
    margin-top: 10px;
    padding: 0;
    font-size: 20px;
    text-align: end;
  }
}

@media (min-width: $desktop-width) {
  .progress__total {
    grid-template-columns: 200px 1fr;
    justify-items: start;
    column-gap: 63px;
    margin: 0;
  }
}
