.progress {
  background-color: $color-grey-100;
}

@media (min-width: $desktop-width) {
  .progress__container {
    display: grid;
    grid-template-columns: 1fr 720px;
    margin: 0 auto;
    margin-bottom: -24px;
    background: linear-gradient(to top, $color-grey-100 74%, $color-white 26%);
  }
}

.progress__wrapper {
  margin: 0 auto;
  padding: 27px 17px 27px 20px;
}

@media (min-width: $tablet-width) {
  .progress__wrapper {
    background-color: $color-white;
    padding-top: 44px;
    padding-left: 30px;
    padding-bottom: 78px;
  }
}

@media (min-width: $desktop-width) {
  .progress__wrapper {
    padding: 0 110px;
    background-color: transparent;
  }
}

.progress__heading {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-family: $added-regular-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .progress__heading {
    margin-bottom: 63px;
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .progress__heading {
    margin-top: -15px;
    margin-bottom: 170px;
    padding-top: 48px;
  }
}

@media (min-width: $tablet-width) {
  .progress__list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -30px;
  }
}

@media (min-width: $desktop-width) {
  .progress__list-container {
    flex-direction: column;
  }
}

.progress__list {
  display: grid;
  grid-template-columns: repeat(2, (124px));
  column-gap: 32px;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .progress__list {
    grid-template-columns: repeat(2, (162px));
    column-gap: 42px;
    width: 370px;
    margin-bottom: 31px;
  }
}

@media (min-width: $desktop-width) {
  .progress__list {
    margin-bottom: 50px;
    width: 362px;
  }
}

.progress__item {
  position: relative;
}

.progress__number {
  align-self: end;
  padding: 14px 20px;
  font-family: $added-regular-font;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid $color-grey-500;
  border-radius: 3px;
}

@media (min-width: $tablet-width) {
  .progress__number {
    margin-left: -4px;
    margin-bottom: 11px;
    padding: 16px 20px;
    font-size: 30px;
    line-height: 37px;
  }
}

@media (min-width: $desktop-width) {
  .progress__number {
    margin-left: 4px;
  }
}

.progress__text {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  text-align: start;
  color: $color-grey-700;
}

.progress__undertext {
  position: absolute;
  display: block;
  top: 46px;
  left: 50%;
  margin: 0;
  padding: 0;
  margin-left: -40px;
  width: 80px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: $color-grey-100;

  @media (min-width: $tablet-width) {
    top: 63px;
    width: 132px;
    margin-left: -69px;
    font-size: 14px;
    line-height: 14px;
    background-color: $color-white;
  }

  @media (min-width: $desktop-width) {
    margin-left: -65px;
    background-color: $color-grey-100;
  }
}

@media (min-width: $tablet-width) {
  .progress__text {
    margin-bottom: 53px;
    padding-right: 17px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .progress__text {
    margin-bottom: 66px;
    margin-top: -24px;
    padding-right: 62px;
  }
}

.progress__total {
  display: block;
  margin: 0;
  padding: 0 46px;
  font-family: $added-regular-font;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .progress__total {
    display: grid;
    grid-template-rows: min-content 20px;
    row-gap: 9px;
    margin-top: 11px;
    padding: 0;
    padding-right: 12px;
    font-size: 20px;
    text-align: end;
  }
}

@media (min-width: $desktop-width) {
  .progress__total {
    grid-template-columns: 200px 1fr;
    justify-items: start;
    column-gap: 38px;
    margin: 0;
  }
}
