.promo {
  position: relative;
  padding-top: 27px;
  color: $color-white;
  background-image: url("../img/cat_index_mobile.jpg"), linear-gradient(to bottom, $color-grey-750 63%, $color-white 27%);
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 0;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 302px;
    top: 0;
    left: 0;
    background-image: url("../img/background_green.png");
    opacity: 0.9;
  }
}

@media (min-width: $tablet-width) {
  .promo {
    background: none;

    &::after {
      background: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .promo {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 50%;
      height: 693px;
      top: -170px;
      left: 50%;
      background: linear-gradient(to right, $color-green 80%, $color-green-100);
      opacity: 0.8;
    }

    &::after {
      content: "";
      position: absolute;
      width: 50%;
      height: 692px;
      top: -170px;
      left: 50%;
      background-image: url("../img/cat_index_desktop.jpg");
      opacity: 0.9;
      background-repeat: no-repeat;
      background-position: 100% 100%;
      background-color: $color-grey-700;
      z-index: -1;
    }
  }
}

.promo__wrapper {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .promo__wrapper {
    display: grid;
    padding: 0 117px;
    padding-top: 10px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .promo__wrapper {
    grid-template-columns: 420px 552px;
    margin-bottom: 150px;
    padding-left: 190px;
    padding-right: 300px;
    row-gap: 40px;
  }
}

.promo__heading {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-family: $added-regular-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .promo__heading {
    margin-bottom: 35px;
    font-size: 60px;
    line-height: 60px;
    color: $color-black;
    text-align: start;
  }
}

@media (min-width: $desktop-width) {
  .promo__heading {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0;
    padding-top: 18px;
  }
}

.promo__slogan-text {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
  font-family: $added-regular-font;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .promo__slogan-text {
    margin: 0;
    margin-top: 6px;
    margin-left: 2px;
    margin-bottom: 34px;
    align-self: center;
    font-size: 20px;
    line-height: 20px;
    color: $color-black;
    text-align: start;
  }
}

@media (min-width: $desktop-width) {
  .promo__slogan-text {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
    margin: 0;
  }
}

.promo__image {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 2;
  margin: 0 auto;
  width: 280px;
  height: 270px;
}

@media (min-width: $tablet-width) {
  .promo__image {
    order: 2;
    margin-top: -83px;
    margin-left: -88px;
    width: 709px;
    height: 609px;
  }
}

@media (min-width: $desktop-width) {
  .promo__image {
    margin-top: -65px;
    margin-left: -52px;
    grid-column: 2/3;
    width: 552px;
    height: 499px;
  }
}

.promo__button {
  margin-top: 3px;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 14px;
  line-height: 18px;
}

.promo__button:hover {
  background-color: $color-green-200;
}

.promo__button:active {
  opacity: 0.6;
}

@media (min-width: $tablet-width) {
  .promo__button {
    grid-row: 3/4;
    justify-self: start;
    align-self: start;
    margin-top: 14px;
    margin-left: 3px;
    padding: 17px 25px;
    width: 244px;
    font-size: 20px;
    line-height: 20px;
    z-index: 2;
  }
}

@media (min-width: $desktop-width) {
  .promo__button {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: start;
    align-self: start;
    margin: 0;
    margin-top: -5px;
  }
}
