.promo {
  position: relative;
  padding-top: 27px;
  color: $color-white;
  background-image: url("../img/index_background.jpg"), linear-gradient(to bottom, $color-grey-750 63%, $color-white 27%);
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 0;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 302px;
    top: 0;
    left: 0;
    background-image: url("../img/background_green.png");
    opacity: 0.9;
  }
}

@media (min-width: $tablet-width) {
  .promo {
    background: none;

    &::after {
      background: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .promo {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 720px;
      height: 692px;
      top: -156px;
      left: 721px;
      background-image: url("../img/background_green.png");
      opacity: 0.9;
    }
  }
}

.promo__wrapper {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .promo__wrapper {
    display: grid;
    grid-template-rows: 120px 55px 50px;
    row-gap: 20px;
    padding: 0 80px;
  }
}

@media (min-width: $desktop-width) {
  .promo__wrapper {
    margin-bottom: 200px;
    padding-left: 150px;
    padding-right: 300px;
  }
}

.promo__heading {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-family: $added-regular-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .promo__heading {
    font-size: 60px;
    line-height: 60px;
    color: $color-black;
    text-align: start;
  }
}

@media (min-width: $desktop-width) {
  .promo__heading {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.promo__slogan-text {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
  font-family: $added-regular-font;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .promo__slogan-text {
    margin: 0;
    align-self: center;
    font-size: 20px;
    line-height: 20px;
    color: $color-black;
    text-align: start;
  }
}

@media (min-width: $desktop-width) {
  .promo__slogan-text {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: end;
  }
}

.promo__image {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 2;
  margin: 0 auto;
  width: 280px;
  height: 270px;
}

@media (min-width: $tablet-width) {
  .promo__image {
    order: 2;
    margin-top: -90px;
    margin-left: 10px;
    width: 600px;
    height: 600px;
  }
}

@media (min-width: $desktop-width) {
  .promo__image {
    margin-top: -40px;
    grid-column: 2/3;
    width: 552px;
    height: 499px;
  }
}

@media (min-width: $tablet-width) {
  .promo__button {
    justify-self: start;
    align-self: start;
    width: 244px;
    z-index: 2;
  }
}

@media (min-width: $desktop-width) {
  .promo__button {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: start;
    align-self: start;
  }
}
