.radio {
  display: block;
}

.radio__text {
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  gap: 15px;
  margin-bottom: 13px;
  padding-left: 19px;
  cursor: pointer;

  &::before {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 30px;
    height: 30px;
    border: 1px solid $color-grey-500;
    content: "";
    border-radius: 50%;
  }

  @media (min-width: $tablet-width) {
    &::before {
      width: 40px;
      height: 40px;
    }
  }
}

.radio__text:hover::before {
  outline: 1px solid $color-grey-150;
}

@media (min-width: $tablet-width) {
  .radio__text {
    padding-left: 0;
    gap: 28px;
  }
}

@media (min-width: $desktop-width) {
  .radio__text {
    grid-template-columns: 40px 1fr;
    column-gap: 19px;
  }
}

.radio__input:checked + .radio__text::after {
  grid-column: 1/2;
  grid-row: 1/2;
  content: "";
  margin-left: 8px;
  width: 14px;
  height: 13px;
  background-color: $color-green;
  border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .radio__input:checked + .radio__text::after {
    margin-left: 10px;
    width: 18px;
    height: 18px;
  }
}

.radio__input:disabled {
  opacity: 0.3;
}
