.show-more {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 25px;
    right: 0;
    left: 0;
    margin: auto;
    width: 30px;
    height: 2px;
    background-color: $color-grey-650;
  }

  &::after {
    transform: rotate(90deg);
  }
}

@media (min-width: $tablet-width) {
  .show-more {
    &::before,
    &::after {
      top: 65px;
      width: 60px;
    }
  }
}


.show-more__title {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  font-family: $added-regular-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: $color-grey-900;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .show-more__title {
    align-self: end;
    margin: 0;
    padding: 0 38px;
    font-size: 20px;
    line-height: 22px;
  }
}

@media (min-width: $desktop-width) {
  .show-more__title {
    padding: 0 32px;
  }
}

.show-more__text {
  margin: 0;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 16px;
  color: $color-grey-700;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .show-more__text {
    margin: 0;
    margin-bottom: 32px;
    padding: 0 25px;
    font-size: 16px;
    line-height: 18px;
  }
}

@media (min-width: $desktop-width) {
  .show-more__text {
    padding: 0 10px;
  }
}

.show-more__button {
  color: $color-grey-700;
  background-color: $color-grey-100;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .show-more__button {
    justify-self: stretch;
  }
}
