.show-more__title {
  margin: 0;
  padding: 0;
  font-family: $added-regular-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: $color-grey-900;
  text-transform: uppercase;
}

.show-more__text {
  font-size: 12px;
  line-height: 16px;
  color: $color-grey-700;
  text-align: center;
}

.show-more__button {
  font-family: $added-regular-font;
  font-size: 16px;
  line-height: 20px;
  color: $color-grey-700;
  background-color: $color-grey-100;
}
