.site-list {
  display: flex;
  flex-direction: column;
  padding-top: 22px;
}

@media (min-width: $tablet-width) {
  .site-list {
    flex-direction: row;
  }
}

.site-list__item {
  font-family: $added-regular-font;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 24px;
}

.site-list__link {
  padding: 10px;
  color: $color-black;
  text-decoration: none;
}
