.slider {
  display: grid;
  grid-template-columns: 280px;
  justify-content: center;
  background-color: $color-grey-100;
  overflow: hidden;
  gap: 15px;
}

@media (min-width: $tablet-width) {
  .slider {
    padding: 0;
    grid-template-columns: 592px;
    background: linear-gradient(to top, $color-grey-100 74%, $color-white 26%);
  }
}

@media (min-width: $desktop-width) {
  .slider {
    background: transparent;
  }
}

.slider__wrapper {
  margin: 0 auto;
  position: relative;
  padding: 32px 20px 45px 20px;
}

@media (min-width: $tablet-width) {
  .slider__wrapper {
    display: grid;
    grid-template-rows: 592px min-content;
    row-gap: 5px;
    margin-left: -50px;

    padding-bottom: 7px;
  }
}

@media (min-width: $desktop-width) {
  .slider__wrapper {
    grid-template-rows: 592px min-content;
    margin-bottom: 45px;
    padding: 0 40px;
    padding-bottom: 45px;
    background-color: transparent;
  }
}

.slider__images {
  display: grid;
  grid-template-columns: var(--active-position, 50%), 1fr;
  margin-bottom: 2px;
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  .slider__images {
    justify-content: center;
    padding: 0 70px;
    margin-left: -15px;
    margin-bottom: 25px;
  }
}

@media (min-width: $desktop-width) {
  .slider__images {
    margin-bottom: 0;
  }
}

.slider__image {
  display: flex;
  text-align: center;
  overflow: hidden;

  &--foreground {
    grid-column: 1/2;
    grid-row: 1/2;
    position: absolute;
    background-image: url("../img/cat_foreground_mobile.png");
    background-color: $color-grey-100;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 232px;
    top: 14px;
    left: -12px;
    z-index: 1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cat_foreground_mobile@2x.png");
    }
  }

  &--background {
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    top: -15px;
    right: -10px;
    background-image: url("../img/cat_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 232px;
  }
}

@media (min-width: $tablet-width) {
  .slider__image--foreground {
    width: 50%;
    height: 510px;
    background-image: url("../img/cat_foreground_tablet.png");
    top: -14px;
    left: 0;
    background-color: unset;


    @media (min-resolution: 2dppx) {
      background-image: url("../img/cat_foreground_tablet@2x.png");
    }
  }
}

@media (min-width: $tablet-width) {
  .slider__image--background {
    height: 510px;
    top: -2px;
    right: -34px;
    width: 545px;
    background-image: url("../img/cat_background_tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cat_background_tablet@2x.png");
    }
  }
}

@media (min-width: $desktop-width) {
  .slider__image--foreground {
    width: 300px;
    top: -16px;
    left: -38px;
  }
}

@media (min-width: $desktop-width) {
  .slider__image--background {
    width: 510px;
    top: -8px;
    left: 0;
  }
}

.slider__container {
  display: grid;
  grid-template-columns: 55px 86px 55px;
  column-gap: 10px;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .slider__container {
    grid-template-columns: 70px 426px 70px;
    align-items: center;
    column-gap: 12px;

    margin-left: 5px;
    padding-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .slider__container {
    padding-bottom: 0;
    margin-top: 6px;
    margin-left: -30px;
  }
}

.slider__range {
  position: relative;
  width: 85px;
  height: 14px;
  background-color: $color-white;
  border: 1px solid $color-grey-500;
  border-radius: 10px;
  align-self: center;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 3px;
    left: 5px;
    content: "";
    background-color: $color-green;
    width: 35px;
    height: 6px;
    border-radius: 10px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .slider__range {
    display: block;
    background-color: $color-grey-500;
    width: 420px;
    height: 6px;
    border: none;
  }
}

@media (min-width: $tablet-width) {
  .slider__bar {
    position: absolute;
    top: -15px;
    left: 190px;
    content: "";
    background-color: $color-white;
    width: 34px;
    height: 34px;
    border: 1px solid $color-grey-500;
    border-radius: 50%;

    &::before {
      position: absolute;
      top: 12px;
      left: 12px;
      content: "";
      background-color: $color-green;
      width: 8px;
      height: 8px;
      border-radius: 10px;
    }
  }
}

.slider__button {
  padding: 0;
  font-family: $added-regular-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .slider__button {
    font-size: 20px;
    line-height: 29px;
    border-bottom: 1px dotted $color-grey-500;
    margin: 0 auto;
    margin-left: 8px;
  }
}
