.social-list {
  display: grid;
  grid-template-columns: 45px 45px 45px;
  justify-content: center;
  align-items: center;
  column-gap: 7px;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
  padding-top: 20px;
  padding-bottom: 20px;
  list-style-type: none;
  border-top: 1px solid $color-grey-600;
  border-bottom: 1px solid $color-grey-600;
}

@media (min-width: $tablet-width) {
  .social-list {
    margin: 0 auto;
    border: none;
  }
}

.social-list__item {
  justify-self: center;
}

.social-list__link {
  display: block;
  padding: 10px;

  &:hover {
    stroke: $color-green;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social-list__icon--vkontakte {
    width: 30px;
    height: 22px;
  }

  .social-list__icon--instagram {
    width: 23px;
    height: 23px;
  }

  .social-list__icon--facebook {
    width: 28px;
    height: 33px;
  }
}
