.specifications {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 2/3;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .specifications {
    position: relative;
    row-gap: 14px;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 16px;
  }
}

.specifications__title {
  justify-self: start;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    &::after {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      margin-top: 20px;
      height: 1px;
      background-color: $color-grey-500;
    }
  }
}

.specifications__description {
  margin: 0;
  padding: 0;
  text-align: end;
}
