.specifications {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.specifications__title {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.specifications__description {
  margin: 0;
  padding: 0;
}
