@mixin advantages-pseudo($position: absolute, $content: "", $left: -5px, $width: 60px, $height: 60px, $background-repeat: no-repeat, $background-position: 50%, $background-color: $color-green) {
  position: $position;
  content: $content;
  left: $left;
  width: $width;
  height: $height;
  background-repeat: $background-repeat;
  background-position: $background-position;
  background-color: $background-color;
}

@mixin advantages-before($width: 80px, $height: 80px, $top: 0, $left: 0) {
  width: $width;
  height: $height;
  top: $top;
  left: $left;
}
