$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;

$color-green: #68b738;
$color-green-100: #75b344;
$color-white: #ffffff;
$color-black: #000000;
$color-grey-900: #111111;
$color-grey-100: #f2f2f2;
$color-grey-200: #eaeaea;
$color-grey-700: #444444;
$color-grey-750: #4c4c55;
$color-grey-800: #222222;
$color-grey-600: #d9d9d9;
$color-grey-650: #d3d3d3;
$color-grey-300: #ebebeb;
$color-grey-350: #e6e6e6;
$color-grey-500: #cdcdcd;
$color-grey-400: #e7e7e7;
$main-regular-font: "Arial", sans-serif;
$added-regular-font: "Oswald", "Arial", sans-serif;


// #d3d3d3 - плюс;
