
$green-base: #68b738;
$white-base: #ffffff;
$black-text: #000000;
$dark-text: #111111;
$grey-base: #f2f2f2;
$dark-grey-base: #eaeaea;
$dark-grey-text: #444444;
$special-dark-grey-text: #222222;
$grey-line-color: #d9d9d9;
$medium-grey-line-color: #ebebeb;
$dark-grey-line-color: #cdcdcd;
$grey-border-color: #e7e7e7;
$main-regular-font: "Oswald", "Arial", sans-serif;


// #d3d3d3 - плюс;

