
@import "./global/variables.scss";
@import "./global/global.scss";
@import "./global/mixins.scss";
@import "fonts.scss";
@import "./blocks/visually-hidden.scss";
@import "./blocks/button.scss";
@import "./blocks/wrapper.scss";
@import "./blocks/page-header.scss";
@import "./blocks/logo.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/site-list.scss";
@import "./blocks/promo.scss";
@import "./blocks/catalog-index.scss";
@import "./blocks/catalog-list.scss";
@import "./blocks/advantages.scss";
@import "./blocks/progress.scss";
@import "./blocks/radio.scss";
@import "./blocks/checkbox.scss";
@import "./blocks/slider.scss";
@import "./blocks/contacts.scss";
@import "./blocks/page-footer.scss";
@import "./blocks/social-list.scss";
@import "./blocks/copyright.scss";
@import "./blocks/main-page.scss";
@import "./blocks/catalog-page.scss";
@import "./blocks/specifications.scss";
@import "./blocks/show-more.scss";
@import "./blocks/additional.scss";
@import "./blocks/gift.scss";
@import "./blocks/form-page.scss";
@import "./blocks/form-options.scss";
@import "./blocks/form-group.scss";
@import "./blocks/form-program.scss";
